.jumbotron {
  background: rgb(25, 118, 210);
  background: -moz-linear-gradient(
    180deg,
    rgba(25, 118, 210, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(25, 118, 210, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(25, 118, 210, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1976d2",endColorstr="#ffffff",GradientType=1);
}

.feature {
  &__left {
    background: rgb(25, 118, 210);
    background: -moz-linear-gradient(
      90deg,
      rgba(25, 118, 210, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(25, 118, 210, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(25, 118, 210, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1976d2",endColorstr="#ffffff",GradientType=1);
  }

  &__right {
    background: rgb(25, 118, 210);
    background: -moz-linear-gradient(
      270deg,
      rgba(25, 118, 210, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      270deg,
      rgba(25, 118, 210, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      270deg,
      rgba(25, 118, 210, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1976d2",endColorstr="#ffffff",GradientType=1);
  }
}
