.userDashboard {
    margin-top: 30px;
    display: flex!important;
    justify-content: space-evenly;
    gap: 20px;
    min-height: 80vh;

    &__profileWrapper {
        width: 30%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;

        &__profilePicWrapper {
            position: relative;

            input[type=file] {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &__courses {
        width: 70%;
        padding: 10px;
    }
}